#ignore settings
deepsite/settings.py
.venv/
neural/visualizations
deepsite/neural/__pycache__
neural/ml_models
# neural/ml_models/deepneural_Skin_Cancer_Detector.keras
# neural/ml_models/deepneural_pneumonia_detector_v1.keras

