{% extends "./base.html" %}
{% load static %}

 {% block head %}
 <title>Predictive Models</title>
 <link type="text/css" href="{% static 'neural/chatbot.css' %}" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kadwa:wght@400;700&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
 <script src="https://kit.fontawesome.com/315c494b79.js" crossorigin="anonymous"></script>
 <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
<script>hljs.highlightAll();</script>
{% endblock %}

{% block header %}
<nav id="nav">
      <span class="nav-item title"><a href="{% url 'home' %}" style="font-family: Audiowide, sans-serif; font-weight: 500; font-size: larger;">DeepNeural</a></span>
  {% if user.is_authenticated %}
   <div style="display:flex;">
    <span class="nav-item"><a href="{% url 'user_account' %}"><i class="fa-regular fa-user"></i></a></span>
  </div>
  {% endif %}
</nav>
{% endblock %}

{% block content %}
 <main id="chatbot_section">    
   <div id="responseBody" style="scroll-behavior: smooth;">
      <h2 id="greetingMessage" style="margin-top: 45px;">This is Anxio, how can I help?</h2>
      <div id="task-selection" style="display: none;">
         <div id="image-class" class="task-item" >Image Classification</div>
         <div id="text-class" class="task-item">Text Classification</div>
         <div id="summarizer-class" class="task-item">Document Summarization</div>
    </div>
   </div>

<section id="textbox-box">
      <!-- Establish the pop up for selection -->
    <textarea id="textbox" type="text" spellcheck="on" name="textbox" rows="4" cols="100" style="max-width: 100%" placeholder="Summarize text" maxlength="2000"></textarea> 
    <section id="textbox-box-sec">
        <input type="file" id="file-uploader" accept="image/png, image/jpeg">
              <label id="file-upload-icon" class="send_button" style="margin-top: 40px; margin-left: 5px;" for="file-uploader">
                <i class="fa-solid fa-paperclip" style="margin-top: 20px;"></i>
              </label>
            <button id="send_button" class="send_button" type="submit" style="padding-top: 5px;">
              <i class="fa-regular fa-paper-plane" style="size: larger;"></i>
            </button>
            <button id="menu-button" class="send_button" style="padding-top: 5px;">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
        </section>   
   </section> 
 </main>
  <script type="module" src="{% static 'neural/chatbot.js' %}"></script>
  {% endblock %}