{% extends "./base.html" %}
{% load static %}

 {% block head %}
 <title>DeepNeural Visualizer</title>
 <meta name="viewport" content="width=320,initial-scale=0.7" >
 <link type="text/css" href="{% static '/neural/styles.css' %}" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kadwa:wght@400;700&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
 <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
 <canvas id="acquisitions"></canvas>
{% endblock %}

{% block header %}
  <nav id="nav">
    <span class="nav-item title"><a href="{% url 'home' %}"><img id="logo" src="{% static '/neural/DeepNeural_Logo_Main.png'%}"></a></span>
    <!-- <span class="nav-item"><img class="logo" src="/static/deepneural/DeepNeural.png"></span> -->
    <div>
      <span class="nav-item"><a href="{% url 'predictive_models' %}">Predictive Models</a></span>
      <span class="nav-item"><a href="{% url 'deepneural_blog' %}">Blog</a></span>
      <span class="nav-item"><a href="{% url 'chatbot' %}">Anxio</a></span>
      <span class="nav-item"><a href="#">DeepVisual</a></span>
    </div>
  </nav>
  <section>
    <div class="blog_title">
        <h2>DeepNeural Analytics</h2>
        <p>
            Leverage the power of DeepNeural's analytics platform 
            to better visualize your datasets, and gain a deeper understanding
            of the distributions with pie charts, bar plots, histograms and more 
            in an interactive manner. Simply upload a CSV or Microsoft Excel sheet
            to get started!
        </p>
    </div>
 </section>
{% endblock %}

{% block content %}
   <main>
      <section id="chart_selector_parent">
        <h3>Frequency Charts</h3>
        <section id="frequency_charts" class="chart_selector">    
          <article id="bar_example" class="example_chart">   
            <h4>Bar Chart</h4>
            <canvas id="bar_exam_canva" class="canva_example"></canvas>
          </article>
          <article id="line_example" class="example_chart">
            <h4>Line Chart</h4>
            <canvas id="line_exam_canva" class="canva_example"></canvas>
          </article>
            <article id="pie_example" class="example_chart">
                  <h4>Pie Chart</h4>
                  <canvas id="pie_exam_canva" class="canva_example"></canvas>
            </article>
            <article id="polar_example" class="example_chart">
              <h4>Polar Area Chart</h4>
              <canvas id="polar_pie_exam_canva" class="canva_example"></canvas>
            </article>
        </section>
        <h3>Quantitative Charts</h3>
        <section id="quantitative_charts" class="chart_selector">
          <article id="scatter_example" class="example_chart">
            <h4>Scatter Chart</h4>
            <canvas id="scatter_exam_canva" class="canva_example_quand"></canvas>
          </article> 
          <!-- Since line charts can also be quantitative -->
          <article id="linequant_example" class="example_chart">
            <h4>Line Chart</h4>
            <canvas id="linequant_exam_canva" class="canva_example_quand"></canvas>
          </article>
          <article id="bubblequant_example" class="example_chart">
            <h4>Bubble Chart</h4>
            <canvas id="bubblequant_exam_canva" class="canva_example_quand"></canvas>
          </article>
          <article id="histquant_example" class="example_chart">
            <h4>Histogram Chart</h4>
            <canvas id="histquant_exam_canva" class="canva_example_quand"></canvas>
          </article>
        </section> 
       </section>

      <div id="user-chart-selector" style="display: none;">
           <canvas id="pie-chart" style="max-width: 70%; max-height: 600px; margin-right: 5%;"></canvas>
           <section id="user-selector" style="max-width: 30%;">
            <div id="dataset-change">
              <button id="Select-Chart-Sign" style="text-align: center; display: none;">Change chart </button>
              <button type="button" id="change-datasetbtn">New Dataset</button>
            </div>
           </section>
        <section id="user-selector-quant" style="max-width: 30%;">
            <div id="dataset-change-quant">
              <button id="Select-Chart-Const" style="text-align: center; display: none;">Change chart </button>
              <button type="button" id="change-datasetbtn-quant">New Dataset</button>
            </div>
        </section>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script id="chart-data" type="application/json">
          {
           "labels": {{label|safe}},
           "data": {{data|safe}}
         }
        </script>
        </script>
        <!-- Defining example charts -->
       <script>
        const labels = ['January', 'February', 'March', 'April'];
        const labelsQuant = [10, 40, 80, 50];
        const ctx = document.getElementById('bar_exam_canva');
        const ctl = document.getElementById('line_exam_canva');
        const ctp = document.getElementById('pie_exam_canva');
        const ctpl = document.getElementById('polar_pie_exam_canva');
        const cts = document.getElementById('scatter_exam_canva');
        const clq = document.getElementById('linequant_exam_canva');
        const cbq = document.getElementById('bubblequant_exam_canva');
        const hsq = document.getElementById('histquant_exam_canva');

        const barPlotRef = document.getElementById('bar_example');
        const linePlotRef = document.getElementById('line_example'); 
        const piePlotRef = document.getElementById('pie_example');
        const polarPlotRef = document.getElementById('polar_example');

        const scatterPlotRef = document.getElementById('scatter_example');
        const lineQuantPlotRef = document.getElementById('linequant_example');
        const bubbleQuantPlotRef = document.getElementById('bubblequant_example');
        const histQuantPlotRef = document.getElementById('histquant_example');
      
        const plotsFrequencyList = ['bar_example', 'line_example', 'pie_example', 'polar_example']; 
        const plotsForSelectionList = ['bar_exam_canva', 'line_exam_canva', 'pie_exam_canva', 'polar_pie_exam_canva'];
        const plotsQuantSelectionList = ['scatter_example', 'linequant_example', 'bubblequant_example', 'histquant_example'];
        const plotsForQuantSelectionList = ['scatter_exam_canva', 'linequant_exam_canva', 'bubblequant_exam_canva', 'histquant_exam_canva'];
        const plotsFrequencyObjects = [ctx, ctl, ctp, ctpl];
        const plotsQuantitativeObjects = [cts, clq, cbq, hsq];


        const chartInfoCopy = JSON.parse(document.getElementById("chart-data").textContent);
        const chartElements = document.querySelector("#chart_selector_parent");
        const chartSelector = document.getElementById("user-selector"); 
        const chartSelectorQuant = document.getElementById("user-selector-quant"); 
        const exampleChartsList = document.querySelectorAll(".example_chart");
        const chartSelectionSign = document.getElementById("Select-Chart-Sign");
        const changeDatasetbtn = document.getElementById("change-datasetbtn");
        const userChartSelector = document.getElementById('user-chart-selector');
        const chartSelectionConst = document.getElementById('Select-Chart-Const');
        const changeDatasetbtnQuant = document.getElementById('change-datasetbtn-quant');
        
        const barExampleConfig = {
          type: "bar",
            data: {
              labels: labels,
               datasets: [
                  {
                    label: 'Bar Plot',
                    data: [65, 59, 80, 81],
                  backgroundColor: 'rgb(255, 99, 132)',
                  },
               ],
            },
            options: {
               animation: true,
               responsive: true,
               scales: {
                y: {
                  beginAtZero: true
                }
               },
              plugins: {
                legend: {
                  display: false
                },
                tooltip: {
                  enabled: false
                }
              },
              scales: {
                xAxes: [
                  {
                    ticks: {
                      maxTicksLimit: 2000
                    }
                  }
                ]
              }
            }
        };
        
        const lineExampleConfig = {
          type: "line",
            data: {
              labels: labels,
               datasets: [
                  {
                    label: 'Line Plot',
                    data: [65, 59, 80, 81],
                  backgroundColor: 'rgb(255, 99, 132)',
                  },
               ],
            },
            options: {
               animation: true,
               responsive: true,
               scales: {
                y: {
                  beginAtZero: true
                }
               },
              plugins: {
                legend: {
                  display: false
                },
                tooltip: {
                  enabled: false
                }
              }
            }
        };

        const pieExampleConfig = {
          type: "pie",
            data: {
              labels: labels,
               datasets: [
                  {
                    label: 'Pie Plot',
                    data: [65, 59, 80, 81],
                    backgroundColor: [
                      'rgb(255, 99, 132)',
                      'rgb(54, 162, 235)',
                      'rgb(255, 205, 86)',
                      'rgb(0, 255, 255)'
                     ],
                     hoverOffset: 4,       
                  },
               ],
            },
            options: {
              //  animation: true,
               responsive: true,
               maintainAspectRatio: false,
               plugins: {
                legend: {
                  display: false
                },
                tooltip: {
                  enabled: false
                }
              }
            }
        };

      const polarExampleConfig = {
          type: "polarArea",
            data: {
              labels: labels,
               datasets: [
                  {
                    label: 'Pie Plot',
                    data: [65, 59, 80, 81],
                    backgroundColor: [
                      'rgb(255, 99, 132)',
                      'rgb(54, 162, 235)',
                      'rgb(255, 205, 86)',
                      'rgb(0, 255, 255)'
                     ],       
                  },
               ],
            },
            options: {
              //  animation: true,
               responsive: true,
               maintainAspectRatio: false,
               plugins: {
                legend: {
                  display: false
                },
                tooltip: {
                  enabled: false
                }
              }
            }
        };

        //Configurations for numerical plots

        const scatterExampleConfig = {
          type: "scatter",
            data: {
              labels: labels,
               datasets: [
                  {
                    label: 'Scatter Plot',
                    data: [{
                      x: -10,
                      y: 0
                    }, {
                      x: 0,
                      y: 10
                    }, {
                      x: 10,
                      y: 5
                    }, {
                      x: 0.5,
                      y: 5.5
                    }],
                  backgroundColor: 'rgb(255, 99, 132)',
                  },
               ],
            },
            options: {
              //  animation: false,
               responsive: true,
               scales: {
                x: {
                  type:'linear',
                  position: 'bottom'
                }
               },
              plugins: {
                legend: {
                  display: false
                },
                tooltip: {
                  enabled: false
                }
              }
            }
        };

        const lineExampleQuantConfig = {
          type: "line",
            data: {
              labels: labelsQuant,
               datasets: [
                  {
                    label: 'Line Plot',
                    data: [65, 59, 80, 81],
                  backgroundColor: 'rgb(255, 99, 132)',
                  },
               ],
            },
            options: {
               animation:true,
               responsive: true,
               scales: {
                y: {
                  beginAtZero: true
                }
               },
              plugins: {
                legend: {
                  display: false
                },
                tooltip: {
                  enabled: false
                }
              }
            }
        };

        const BubbleChartQuantConfig = {
          type:'bubble',
          data: {
            datasets: [{
              label: 'Bubble Chart',
              data: [{
                x: 20,
                y: 30,
                r: 15
              }, {
                x: 40,
                y: 10,
                r: 10
              }],
              backgroundColor: 'rgb(255, 99, 132)' 
            }]
          },
          options: {
            animation:true,
            plugins: {
                legend: {
                  display: false
                },
                tooltip: {
                  enabled: false
                }
              }
          }
        };

      const histogramChartQuantConfig = {
          type: "bar",
            data: {
              labels: labelsQuant,
               datasets: [
                  {
                    label: 'Histogram Plot',
                    data: [65, 59, 80, 81],
                  backgroundColor: 'rgb(255, 99, 132)',
                  },
               ],
            },
            options: {
               animation:true,
               responsive: true,
               scales: {
                y: {
                  beginAtZero: true
                }
               },
            plugins: {
            legend: {
                display: false
              },
            tooltip: {
                enabled: false
            }
           }  
          }
        };

        //Create the list of configurations
        const configFiles = [barExampleConfig, lineExampleConfig, pieExampleConfig, polarExampleConfig];
        const quantConfigFiles = [scatterExampleConfig, lineExampleQuantConfig, BubbleChartQuantConfig, histogramChartQuantConfig];
        const canvaCharts = document.querySelectorAll(".canva_example");
        const canvaChartsQuand = document.querySelectorAll(".canva_example_quand");

        
        //TO DO: Move to the end of the script later
        window.onload = function() {
        var ctx_plot = ctx.getContext('2d');
        var ctl_plot = ctl.getContext('2d');
        var ctp_plot = ctp.getContext('2d');
        var ctpl_plot = ctpl.getContext('2d');
        var cts_plot = cts.getContext('2d');
        var clq_plot = clq.getContext('2d');
        var cbq_plot = cbq.getContext('2d');
        var hsq_plot = hsq.getContext('2d');

        new Chart(ctx_plot, barExampleConfig);
        new Chart(ctl_plot, lineExampleConfig);
        new Chart(ctp_plot, pieExampleConfig);
        new Chart(ctpl_plot, polarExampleConfig);

        new Chart(cts_plot, scatterExampleConfig);
        new Chart(clq_plot, lineExampleQuantConfig);
        new Chart(cbq_plot, BubbleChartQuantConfig);
        new Chart(hsq_plot, histogramChartQuantConfig);          
      };

      //Method #2 - Since we know the object chartInfoCopy will never be undefined (due to the backend)
        var chartPicked = '';
        plotsFrequencyObjects.forEach((plot) => {
          plot.addEventListener('click', function(e) {
          chartPicked = e.target.id; 
          plotsForSelectionList.forEach((chart, index) => {
              if (chartPicked === chart) {
                userChartSelector.style.display = 'flex';
                chartElements.style.display = 'none';
                chartSelectionSign.style.display = "block";
                changeDatasetbtn.style.display = "block";

                //Only display this chart
                // Check if chart if chartInfoCopy JSON object is not empty, proceed with the rest 
                if (chartInfoCopy) { 
                 //if the data is available, update everything in the chart config
                 var chartMain = document.getElementById('pie-chart').getContext('2d');
                 let selectedChartConfig = configFiles[index];
                 selectedChartConfig.data.labels = chartInfoCopy.labels; 
                 selectedChartConfig.data.datasets[0].data = chartInfoCopy.data;
                 window.chart = new Chart(chartMain, selectedChartConfig);
                 //Display the actual canva of each of the other charts which is currently not selected
                 for (canva of canvaCharts) {
                    //Add each canva to the right-side of the main chart
                    //If the chartSelector component has elements remove them 
                    canva.style.cursor = "pointer";
                    canva.style.marginBottom = "30px";
                    if (chartSelector.contains(canva)) {
                       chartSelector.removeChild(canva);
                    }
                    chartSelector.appendChild(canva);
                    //For each canva, add an eventlistener                  
                    canva.addEventListener("click", (e)=>{
                        let id = e.target.id;
                        //For each id of the charts list, update the main chart
                        plotsForSelectionList.forEach((chart, i) =>{
                           if (chart === id) {
                              let selectedChartConfig = configFiles[i];
                              //Activate all tooltips and animations
                              selectedChartConfig.options.plugins.legend.display = true;
                              selectedChartConfig.options.plugins.tooltip.enabled = true;
                              selectedChartConfig.data.labels = chartInfoCopy.labels; 
                              selectedChartConfig.data.datasets[0].data = chartInfoCopy.data; 
                              window.chart.destroy();
                              window.chart = new Chart(chartMain, selectedChartConfig);
                           }
                        });
                    });
                 }     
                } //End of main object if statement
                else {
                  window.location.href = "{% url 'file_uploader' %}"; 
                }
              } 
              else { //Check if this else statement makes logical sense
                plotsFrequencyObjects[index].style.display = "block";
              }
          });
        });     
      });

      let chartPickedQuant = ''
      plotsQuantitativeObjects.forEach((plotSec) => {
        plotSec.addEventListener('click', function(e) {
          chartPickedQuant = e.target.id; 
          plotsForQuantSelectionList.forEach((chart, index) => {
              if (chartPickedQuant === chart) {
                userChartSelector.style.display = 'flex';
                chartElements.style.display = 'none';
                chartSelectionConst.style.display = "block";
                changeDatasetbtnQuant.style.display = "block";
                //Also remove the frequency charts from selection
                chartSelector.style.display = "none";
                // Then check if the data for this chart is empty or not, if so, redirect user to fill the data
                if (chartInfoCopy) {   
                 //if the data is available, update everything in the chart config
                 var chartMain = document.getElementById('pie-chart').getContext('2d');
                 let selectedChartConfigQuant = quantConfigFiles[index];
                 selectedChartConfigQuant.data.labels = chartInfoCopy.labels; 
                 selectedChartConfigQuant.data.datasets[0].data = chartInfoCopy.data; 
                 window.chart = new Chart(chartMain, selectedChartConfigQuant);
                 //Display the actual canva of each of the other charts which is currently not selected
                 for (canva of canvaChartsQuand) {
                    //Add each canva to the right-side of the main chart
                    //If the chartSelector component has elements remove them 
                    canva.style.cursor = "pointer";
                    if (chartSelectorQuant.contains(canva)) {
                       chartSelectorQuant.removeChild(canva);
                    }
                    chartSelectorQuant.appendChild(canva);
                    //For each canva, add an eventlistener                  
                    canva.addEventListener("click", (e)=>{
                        let id = e.target.id;
                        //For each id of the charts list, update the main chart
                        plotsForQuantSelectionList.forEach((chart, i) =>{
                           if (chart === id) {
                              window.chart.destroy();
                              let selectedChartConfigQuant = quantConfigFiles[i];
                              selectedChartConfigQuant.options.plugins.legend.display = true;
                              selectedChartConfigQuant.options.plugins.tooltip.enabled = true;
                              selectedChartConfigQuant.data.labels = chartInfoCopy.labels; 
                              selectedChartConfigQuant.data.datasets[0].data = chartInfoCopy.data; 
                              window.chart = new Chart(chartMain, selectedChartConfigQuant);
                           }
                        });
                    });
                 }     
                } else {
                  //Create a new form for numerical data only to fix bugs
                  window.location.href = "{% url 'file_uploader' %}"; 
                }
              } 
              else { //Check if this else statement makes logical sense
                plotsQuantitativeObjects[index].style.display = "block";
              }
          });
        });     
      });

      //Add an event listener to the change dataset button
    changeDatasetbtn.addEventListener("click", ()=> {
          window.location.href = "{% url 'file_uploader' %}"; 
      });

    changeDatasetbtnQuant.addEventListener("click", ()=> {
          window.location.href = "{% url 'file_uploader' %}"; 
      }); 

    chartSelectionSign.addEventListener("click", () => {
         window.location.href = "{% url 'deep_visual' %}";
    });

    chartSelectionConst.addEventListener("click", () =>{
         window.location.href = "{% url 'deep_visual' %}";
    });
     
      </script>
        <!-- End of example charts -->            
   </main>
{% endblock %}

{% block footer%}
  <section class="company_info">
    <article class="info_cards">
       <h3>Stay Connected</h3>
       <span class="info_cards_span nav-item"><a class="anchor" href="https://x.com/DNeural76430">X</a></span>
       <span class="info_cards_span nav-item"><a class="anchor" href="https://www.linkedin.com/company/dneural">LinkedIn</a></span>
       <span class="info_cards_span nav-item"><a class="anchor" href="https://www.instagram.com/deep_neural/">Instagram</a></span>
       <span class="info_cards_span nav-item"><a class="anchor" href="https://www.facebook.com/DeepNeuralCorp/">Facebook</a></span>
       <!-- <span class="info_cards_span nav-item"><a class="anchor" href="#">YouTube</a></span> -->
    </article>
    <article class="info_cards">
      <h3>Check Out</h3>
      <span class="info_cards_span nav-item"><a class="anchor" href="{% url 'predictive_models' %}">Predictive Models</a></span>
      <span class="info_cards_span nav-item"><a class="anchor" href="{% url 'deepneural_blog' %}">Blog</a></span>
   </article>
  </section>
{% endblock %}