    {% load static %}
     <link type="text/css" href="{% static '/neural/styles.css' %}" rel="stylesheet">
     <section class="login_form">
        <form action=""  method="post" enctype="multipart/form-data" class="sign-up">
          {% csrf_token %}
            <!-- {{form}} -->    
          <div class="form-group" id="label">
            <label id="initial_label_first" for="label" class="form-labels">Column Name (categorical)</label>
            <label id="initial_label_sec" for="label" class="form-labels" style="display: none;">Y Label (numeric)</label>
            <div>
              <input type="text" name="label" maxlength=50 required />
            </div>
          </div>    
          <div class="form-group" id="data" style="display:none;">
            <label for="x_Axis_data" class="form-labels" style="margin-bottom: 15px;">X Label (numeric) </label>
            <div>
              <input type="text" name="x_Axis_data" maxlength=50/>
            </div>
          </div>
          <label for="csv_file" class="form-labels">Upload File</label>
            <div class="form-group">
              <input value="Select File" type="file" accept=".csv" name="csv_file" required />
            </div>
            <!-- Select the type of upload (quantitative or qualitative) -->
          <label>Select Visualization Type</label>
            <div class="form-group">
              <fieldset>
                  <div>
                    <label for="select-display">Frequency Chart</label>
                    <input  type="radio" id="qualitative" value="qualitative" name="select-display" checked/>
                  </div>
                  <div>
                    <label for="select-display">Numerical Chart</label>
                    <input id="quantitative" type="radio" value="quantitative" name="select-display"/>
                </div>
              </fieldset>
            </div>
          <input id="update-buttons" type="submit" value="Upload">
        </form>
      </section>
   <script>
     const qualitativeSelection = document.getElementById("qualitative");
     const quantitativeSelection = document.getElementById("quantitative");
     const dataField = document.getElementById("data");
     const labelField = document.getElementById("label");
     const yLabel = document.getElementById("initial_label_sec");
     const yLabelFirst = document.getElementById("initial_label_first");

     //Add action listener for each selector
     qualitativeSelection.addEventListener("change", (e) => {
       e.preventDefault();
        //if the checkbox has been checked, then remove data field
        if (qualitativeSelection.checked) {
           yLabelFirst.style.display = "block";
           yLabel.style.display = "none";
           dataField.style.display = "none";
        }
     });
     quantitativeSelection.addEventListener("change", (e) => {
       e.preventDefault();
        //if the checkbox has been checked, then remove data field
        if (quantitativeSelection.checked) {
           yLabelFirst.style.display = "none";
           yLabel.style.display = "block";
           //Clear the qualitative checkbox if wasn't cleared already
           dataField.style.display = "block";
        }
     });

   </script>