 {% load static %}
 <nav id="nav">
    <span class="nav-item title"><a href="{% url 'home' %}"><img id="logo" src="{% static '/neural/DeepNeural_Logo_Main.png'%}"></a></span>
    <!-- <div class="loginSection"> -->
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
      <span  class="nav-item"><a href="{% url 'predictive_models' %}">ML Models</a></span>
      <span  class="nav-item"><a href="{% url 'deepneural_blog' %}">Blog</a></span>
      <span class="nav-item"><a href="{% url 'chatbot' %}">Anxio</a></span>
      <span class="nav-item"><a href="{% url 'deep_visual' %}">DeepVision</a></span>
    </div>    
    {% if user.is_authenticated %}
      <div>
        <a href="{% url 'user_account' %}" style="color:#000;"><i class="fa-regular fa-user"></i></a>
     </div>
    {% else %}
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
        <span id="sign-up" class="nav-item"><a href="{% url 'sign_up' %}">Sign Up</a></span>
        <span  class="nav-item"><a href="{% url 'login_form' %}">Login</a></span>
        <a href="{% url 'user_account' %}" style="color:#000;"><i class="fa-regular fa-user"></i></a>
    </div>
    {% endif %}
  </nav>
  <nav class="navSecond">
      <span class="nav-item title"><a href="{% url 'home' %}"><img id="logo" src="{% static '/neural/DeepNeural_Logo_Main.png'%}"></a></span>
    <div id="overlay_nav_item" >
      <span class="nav-item menu_btn_nav">Menu</span>
    </div>
  </nav>
<div id="myNavTop" class="overlay">
          <a href="javascript:void(0)" class="closebtn", onclick="closeNavTop()">&times;</a>
            <div class="overlay-content">
                <!-- Add overlay content -->
                 {% if not user.is_authenticated %}
                    <div class="account_item">
                        <!-- Icon -->
                        <h5><a href="{% url 'predictive_models' %}" style="text-decoration: none;">ML Models</a></h5> 
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </div>
                    <div class="account_item">
                        <h5><a href="{% url 'deepneural_blog' %}">Blog</a></h5>
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </div>
                    <div class="account_item">
                      <h5><a href="{% url 'chatbot' %}">Anxio</a></h5>
                      <i class="fa-solid fa-arrow-right-from-bracket"></i>
                  </div>
                  <div class="account_item">
                      <h5><a href="{% url 'deep_visual' %}">DeepVision</a></h5>
                      <i class="fa-solid fa-arrow-right-from-bracket"></i>
                  </div>
                      <div class="account_item">
                      <h5><a href="{% url 'login_form' %}">Login</a></h5>
                      <i class="fa-solid fa-arrow-right-from-bracket"></i>
                  </div>
                  <div class="account_item">
                      <h5><a href="{% url 'sign_up' %}">Sign Up</a></h5>
                      <i class="fa-solid fa-arrow-right-from-bracket"></i>
                  </div>
                  <div class="account_item">
                      <h5><a href="{% url 'user_account' %}">Account Information</a></h5>
                      <i class="fa-solid fa-arrow-right-from-bracket"></i>
                  </div>
                 {% else %}
                    <div class="account_item">
                        <!-- Icon -->
                        <h5><a href="{% url 'predictive_models' %}" style="text-decoration: none;">ML Models</a></h5> 
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </div>
                    <div class="account_item">
                        <h5><a href="{% url 'deepneural_blog' %}">Blog</a></h5>
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </div>
                  <div class="account_item">
                      <h5><a href="{% url 'chatbot' %}">Anxio</a></h5>
                      <i class="fa-solid fa-arrow-right-from-bracket"></i>
                  </div>
                  <div class="account_item">
                      <h5><a href="{% url 'deep_visual' %}">DeepVision</a></h5>
                      <i class="fa-solid fa-arrow-right-from-bracket"></i>
                  </div>
                  <div class="account_item">
                      <h5><a href="{% url 'user_account' %}">Account Information</a></h5>
                      <i class="fa-solid fa-arrow-right-from-bracket"></i>
                  </div>
                {% endif %}
            </div>
        </div>