{% extends "./base.html" %}
{% load static %}

 {% block head %}
 <title>Predictive Models</title>
 <meta name="viewport" content="width=320,initial-scale=0.7" >
 <link type="text/css" href="{% static 'neural/styles.css' %}" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kadwa:wght@400;700&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script src="https://kit.fontawesome.com/315c494b79.js" crossorigin="anonymous"></script>
{% endblock %}

{% block header %}
      {% include './navbar.html' %}
{% endblock %}

{% block content %}
   <main class="model_description_content">
     <section>
       <h3>Model Description</h3>
       <p>
        DeepNeural's sentiment analysis classifier model v1 is designed to predict - according to the text entered - a user's
        sentiment, with current capabilities ranging from identifying depression, anxiety, bipolarism or normal. This is highly 
        important for the speedy identification of a patient's mental state, for early detection of potentially fatal actions or deeds
        which might occur.  
       </p>
       <p>
        NOTE: The following model is meant as an assistive tool, and must NOT directly be used to produce the final 
        verdict on a patient's condition. As it is meant to promote further evaluations upon having completed its prediction.
       </p>
       <ul>
         <li><b>Developed by:</b> DeepNeural</li>
         <li><b>Model type:</b> Language (text) Classification</li>
         <li><b>Language(s):</b> English</li>
         <li><b>License:</b> MIT</li>   
         <li><b>Source: </b><a href="https://huggingface.co/DeepNeural/deepneural_sentiment_classifier_v2">Sentiment Model (HuggingFace)</a></li>   
       </ul>
     </section>
     <section>
      <h3>Model Inputs</h3>
        <p>The following model works with textual inputs, e.g. a paragraph.</p>
     </section>
     <section>
      <h3>Uses</h3>
        <p>
          This model is primarily designed for Data Scientists, Software Engineers and Machine Learning Engineers who 
          have an interest in developing NLP-based word embedding/text classification models, for various healthcare institutions, 
          ranging from hospitals to clinics.
        </p>
        <p>
          Foreseeable users of the software applications to be developed with this model include: doctors, nurses (with respect to their patients)
        </p>
     </section>
     <section>
      <h3>How to Use the Model</h3>
        <p>
          To properly make use of this model, please refer to the code block below
        </p>
        <ol>
          <li>
            <p>Install TensorFlow</p>
          <div class="code_article">
            <pre class="code_block">

              !pip install tensorflow
            </pre>
           <div class="button-float">
            <i class="fa-solid fa-clone clone_button" style="margin-left: 30px; margin-top: 10px; margin-right: 10px;"></i>  
          </div>
          </div>
          </li>
          <li>
          <p>Load model upon installation</p>
          <div class="code_article">
            <pre class="code_block">

              my_model = tensorflow.keras.models.load(<span class="hljs-string">"deepneural_sentiment_classifier_v2.keras"</span>)
            </pre>
            <div class="button-float">
            <i class="fa-solid fa-clone clone_button" style="margin-left: 30px; margin-top: 10px; margin-right: 10px;"></i> 
            </div> 
          </div>
          </li>
          <li>
           <p>Alternatively (for a direct download from Hugging Face models)</p>
           <div class="code_article">
            <pre class="code_block"> 
            <span class="hljs-keyword">import</span> os
            <span class="hljs-string">os.environment["KERAS_BACKEND"] = "jax"</span>
            <span class="hljs-keyword">import</span> keras
            <span class="hljs-keyword">from</span> huggingface_hub <span class="hljs-keyword">import</span> hf_hub_download

            <span class="hljs-string">model = keras.saving.load_model("hf://DeepNeural/deepneural_sentiment_classifier_v2")</span>
           </pre>
           <div class="button-float">
           <i class="fa-solid fa-clone clone_button" style="margin-left: 30px; margin-top: 10px; margin-right: 10px;"></i> 
           </div> 
          </div>                 
          </li>
          <li>

          <p>Installing and loading the tokenizer</p>
           <div class="code_article">
            <pre class="code_block"> 
            <span class="hljs-keyword">import</span> pickle
            <span>tokenizer = pickle.load(open(<span class="hljs-string">path_to_downloaded_tokenizer/sentiment_tokenizer.pkl</span>, <span class="hljs-string">'rb'</span>))</span>
           </pre>
           <div class="button-float">
           <i class="fa-solid fa-clone clone_button" style="margin-left: 30px; margin-top: 10px; margin-right: 10px;"></i> 
           </div> 
          </div> 

        <p>Make predictions</p>
        <article class="code_article">
            <pre class="code_block">

            <span>sequenced_text = tokenizer.<span class="hljs-keyword">texts_to_sequences</span>(text_list)</span>
                 
            <span>sequenced_text = <span class="hljs-keyword">pad_sequences</span>(sequenced_text, maxlen=maxlen, padding='post', truncating='post')</span>

            <span>my_model.<span class="hljs-keyword">predict</span>(sequenced_text)</span>
            </pre>
            <div class="button-float">
            <i class="fa-solid fa-clone clone_button" style="margin-left: 30px; margin-top: 10px; margin-right: 10px;"></i> 
            </div> 
           </article>
          </li>
        </ol>
        <script>
          //Initially, we will initialize the contents of the code block
          const codeBlock = document.querySelectorAll(".code_block");
          const copyButton = document.querySelectorAll(".clone_button");
          //Iterate through the list of code blocks
        
          //Create function to perform the copy action via eventlistener
          function copyCodeBlock() {
            return undefined; //return undefined for now
          }

         let assignAttributesToButtonsAndBlocks = function () {
            for (let j=0; j<copyButton.length; j++) {
                 copyButton[j].id = j+1;
                 codeBlock[j].id = j+1; 
            }
         }

         assignAttributesToButtonsAndBlocks(); // initialize id attributes
         let actionListener = function () {
          copyButton.forEach((btn) => {
            btn.addEventListener("click", () => {
               codeBlock.forEach((blId) => {
                let btnId = btn.getAttribute("id");
                if (btnId === blId.getAttribute("id")) {
                    try {
                      navigator.clipboard.writeText(blId.textContent);
                    }
                    catch(error) {
                      console.log("Error message: " + error);
                    }
                    finally {
                      if (btn.textContent === "Copied!") {
                          btn.textContent = "";
                      } else {
                        //Make the text and button color go back to normal after 50 milliseconds
                        btn.textContent = "Copied!";
                        btn.classList.add("clone_button_trans");
                      }
                      setTimeout(() => {
                          btn.textContent = "";
                          btn.classList.remove("clone_button_trans");
                        }, 700);
                    }
                }
               });
            });
          });
         }
         actionListener();
        </script> 
        <script src="{% static 'neural/script.js' %}"></script>
     </section>
     <section>
     <section>
      <h3>Training Results</h3>
      <p>Accuracy - 94%</p>
     </section>
   </main>
{% endblock %}
