{% load static %}
<link type="text/css" href="{% static '/neural/styles.css' %}" rel="stylesheet">
<script src="https://kit.fontawesome.com/315c494b79.js" crossorigin="anonymous"></script>
{% block content %}
<section class="login_form">
  <form id="sign-up-form" method="post" class="sign-up">
    <h2>Sign Up</h2>
      {% csrf_token %}
       <div class="form-group">
            {{ form.username.errors }}
            <input type="text" id="username" name="username" placeholder="Username" value="{{ form.username.value }}"/>
       </div>
       <div class="form-group">
          {{ form.email.errors }}
          <input type="email" id="email" name="email" placeholder="Email" value="{{ form.email.value }}"/>
       </div>
       <div class="form-group" style="margin-left: 40px;">
          {{ form.password1.errors }}
          <div>
            <input type="password" id="password1" name="password1" placeholder="Password" />
            <span id="pass1Button" type="button" style="margin-left: 4px;"><i class="fa-solid fa-eye"></i></span>
          </div>
       </div>
       <div class="form-group" style="margin-left: 40px;">
         {{ form.password2.errors }}
         <div>
            <input type="password" id="password2" name="password2" placeholder="Re-enter Password" />
            <span id="pass2Button" type="button" style="margin-left: 4px;"><i class="fa-solid fa-eye"></i></span>
         </div>
       </div>
        <input id="update-buttons" type="submit" value="Sign Up"/>
  </form>
   <p style="margin-top: 25px;">
    <a href="{% url 'home' %}" class="form_anchors">Back to homepage</a>
  </p>
  <script>
   const passwordOne = document.getElementById("password1");
   const passwordTwo = document.getElementById("password2");
   const pass1Button = document.getElementById("pass1Button");
   const pass2Button = document.getElementById("pass2Button");

   const revealPasswordToggle = ({target}) => {
          const elementId = target.parentElement.id;
          //If the pass field is not empty, reveal it
          if (elementId === "pass1Button") {
              //Reveal password 1
             if (passwordOne.value !== "") {
                if (passwordOne.type === "text") {
                    passwordOne.type = "password";
              } else {
                passwordOne.type = "text";
              }
            } else {
              throw new Error("Cannot reveal an empty field");
            }
          } else if (elementId === "pass2Button") {
            if (passwordTwo.value !== "") {
                if (passwordTwo.type === "text") {
                 passwordTwo.type = "password";
              } else {
                passwordTwo.type = "text";
              }
            } else {
              throw new Error("Cannot reveal an empty field");
            } 
        }
   }; 
   
   pass2Button.addEventListener("click", revealPasswordToggle);
   pass1Button.addEventListener("click", revealPasswordToggle);
</script>
</section>

{% endblock %}


